<div>

  <div class="container">
    <app-page-header
      [hideBackBtn]="false"
      [selectedFrequency]="fromCurrency"
    ></app-page-header>
    <div class="white-main-container">
      <div class="flex-column">
        <app-conversion-form
          (conversionEmitter)="updateCurrentConversionObject($event)"
          (updateSelectedCurrency)="updateSelectedCurrency($event)"
        ></app-conversion-form>
        <app-currency-details-card [currencyDetails]="currentConversionObject" [flexDirection]="'row'"/>
      </div>
      <div class="card" [style.margin-top]="'20px'" *ngIf="currentConversionObject">
        <div class="grid-container" role="card-grid" [id]="'grid-container'">
          <div *ngFor="let item of arr" class="card flex-grow-1">
            <app-currency-details-card class="w-100"
                                       [currencyDetails]="currentConversionObject" [flexDirection]="'column'"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
