.currency-form{
  display: flex;
  justify-content: space-between;
}
.form-wrapper{
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}
