<div class="">

  <div class="card flex-column">
    <form [formGroup]="conversionForm" class="flex-column w-100" (ngSubmit)="getConversion()">
      <div class="flex-row ">
        <div class="flex-column flex-grow-1 amount-input">
          <span class="">Amount</span>
          <input class="text-input"
                 [class.border-danger]="submitted && conversionFormControl['amount'].errors"
                 placeholder="input amount" formControlName="amount">
          <small *ngIf="submitted && conversionFormControl['amount'].errors"
               [style.display]="'block'" class="has-error">

            <div *ngIf="conversionFormControl['amount'].errors?.['required']">
              Amount is required
            </div>
            <div *ngIf="conversionFormControl['amount'].errors?.['pattern']">
              Please enter a valid amount
            </div>
          </small>
        </div>
        <div class="flex-row w-66" >
          <div class="flex-column flex-grow-1">
            <span class="">From</span>
            <select class="text-input"
                    (change)="onChangeEmitCurrencyName()"
                    [class.border-danger]="submitted && conversionFormControl['from'].errors"
                    formControlName="from">
              <option selected disabled>--SELECT CURRENCY--</option>
              <option *ngFor="let currency of getCurrencyKeys"
                      [value]="currency"
              >
                {{ currency }}
              </option>
            </select>
            <small *ngIf="submitted && conversionFormControl['from'].errors"
                 [style.display]="'block'" class="has-error">

              <div *ngIf="conversionFormControl['from'].errors?.['required']">
                From currency is required
              </div>
            </small>
          </div>
          <div class="flex-column justify-content-end"

          >
                <button class="btn"
                      (click)="toggleCurrencies()"
                      [title]="'Click to toggle currencies'">
                  Toggle
                </button>

          </div>
          <div class="flex-column flex-grow-1">
            <span class="">To</span>
            <select class="text-input"
                    [class.border-danger]="submitted && conversionFormControl['to'].errors"
                    formControlName="to">
              <option>--SELECT CURRENCY--</option>
              <option *ngFor="let currency of getCurrencyKeys"
                      [value]="currency"
              >
                {{ currency }}
              </option>
            </select>
            <small *ngIf="submitted && conversionFormControl['to'].errors"
                 [style.display]="'block'" class="has-error">

              <div *ngIf="conversionFormControl['to'].errors?.['required']">
                To currency is required
              </div>
            </small>
          </div>
        </div>
      </div>
      <div class="flex justify-content-end">
        <button class="btn w-66"  type="submit"
                [disabled]="conversionForm.invalid"
                [class.disabled]="isConverting||conversionForm.invalid">
          <div class="spinner-border text-white spinner-border-sm" role="status" *ngIf="isConverting">
            <span class="visually-hidden">Loading...</span>
          </div>
          Convert
        </button>
      </div>
    </form>
    <app-error [error]="errorMessage"></app-error>
  </div>

  <div >

  </div>
</div>
