<div class="">
  <div class="flex-row align-items-center justify-content-between">
    <h4 *ngIf="!fromCurrency">Currency Converter</h4>
    <h4 class="" *ngIf="fromCurrency">
      {{ fromCurrency }} - {{ returnCurrencyName }}
    </h4>
    <div class="">
      <a [routerLink]="['/']" class="btn ">
        <i class="bi bi-back"></i> Back to Home
      </a>
    </div>
  </div>

  <div class="card p-3">
    <form [formGroup]="conversionForm" class="flex-column w-100" (ngSubmit)="getConversion()">
      <div class="flex-row ">
        <div class="flex-column" style="width: 33%">
          <label class="">Amount</label>
          <input class="text-input"
                 [class.border-danger]="submitted && conversionFormControl['amount'].errors"
                 placeholder="input amount" formControlName="amount">
          <div *ngIf="submitted && conversionFormControl['amount'].errors"
               [style.display]="'block'" class="invalid-feedback">

            <div *ngIf="conversionFormControl['amount'].errors['required']">
              Amount is required
            </div>
            <div *ngIf="conversionFormControl['amount'].errors['pattern']">
              Please enter a valid amount
            </div>
          </div>
        </div>
        <div class="flex-row flex-grow-1" style="padding: 0 24px">
          <div class="flex-column flex-grow-1">
            <label class="">From</label>
            <select class="text-input"
                    [class.border-danger]="submitted && conversionFormControl['from'].errors"
                    [attr.disabled]="fromCurrency"
                    formControlName="from">
              <option>--SELECT CURRENCY--</option>
              <option *ngFor="let currency of getCurrencyKeys"
                      [value]="currency"
              >
                {{ currency }}
              </option>
            </select>
            <div *ngIf="submitted && conversionFormControl['from'].errors"
                 [style.display]="'block'" class="invalid-feedback">

              <div *ngIf="conversionFormControl['from'].errors['required']">
                From currency is required
              </div>
            </div>
          </div>
          <div class="flex-column justify-content-end"

          >
                <span class="btn"
                      (click)="toggleCurrencies()"
                      [title]="'Click to toggle currencies'">
                  Toggle
                </span>

          </div>
          <div class="flex-column flex-grow-1">
            <label class="">To</label>
            <select class="text-input"
                    [class.border-danger]="submitted && conversionFormControl['to'].errors"
                    formControlName="to">
              <option>--SELECT CURRENCY--</option>
              <option *ngFor="let currency of getCurrencyKeys"
                      [value]="currency"
              >
                {{ currency }}
              </option>
            </select>
            <div *ngIf="submitted && conversionFormControl['to'].errors"
                 [style.display]="'block'" class="invalid-feedback">

              <div *ngIf="conversionFormControl['to'].errors['required']">
                To currency is required
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col py-2">
          <button class="btn btn-primary btn-lg w-100" type="submit"
                  [disabled]="isConverting||conversionForm.invalid">
            <div class="spinner-border text-white spinner-border-sm" role="status" *ngIf="isConverting">
              <span class="visually-hidden">Loading...</span>
            </div>
            Convert
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
