@import "assets/styles/_variables";
body, html {
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  background-color: lightgray;
  .container {
    padding: 20px;
    margin: 60px auto;
    width: 100%;
    max-width: 1200px;
    @media only screen and (max-width: 768px) {
      margin: 72px 0px;
      padding: 10px;
      width: calc(100% - 20px);
    }
  }
  .white-main-container{
    background-color: white;
    border-radius: 30px;
    min-height: 100px;
    padding: 20px;
  }
  .card {
    padding: 20px;
    border: 1px solid lightgray;
    display: flex;
    border-radius: 20px;

    & > .currency-form {

    }
  }

  .btn {
    border-radius: 10px;
    background-color: #1a75ff;
    display: flex;
    align-items: center;
    height: 40px;
    color: white;
    padding: 0 10px;
    border: none;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
  }

  .text-input {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
  }

  .flex {
    display: flex;
    gap: 20px;
  }

  .flex-row {
    @extend .flex;
    flex-direction: row;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  .flex-column {
    @extend .flex;
    flex-direction: column;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .justify-content-end {
    @extend .flex;
    justify-content: end
  }
  .justify-content-center {
    @extend .flex;
    justify-content: center;
  }

  .justify-content-between {
    @extend .flex;
    justify-content: space-between;
  }
  .align-items-center {
    @extend .flex;
    align-items: center;
  }

  .w-100 {
    width: 100%;
  }
  .w-66{
    width: 66%;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .flex-grow-1{
    flex-grow: 1;
  }
  .disabled{
    cursor: not-allowed;
    color: white;
    background-color: lightgray;
  }
  .has-error{
    color: #ff210b;
  }
  .border-danger{
    border-color: #ff210b;
  }
;
}
