@import "assets/styles/_variables";
$primaryColor :'yellow';
body, html {
  padding: 0;
  margin: 0;
  background-color: lightgray;
  & > .card {
    padding: 20px;
    border: 1px solid darkgray;
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: 768px) {
      flex-direction: row;
    }
  }
  .btn{
    border-radius: 5px;
    height: 20px;
    background-color: $primaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
